<% if (post.tags && post.tags.length && is_post()){ %>
  <section class="tags">
<% post.tags.forEach(function(tag){ %>
    <a class="tag" href="<%- url_for(tag.path) %>"><%= tag.name %></a>
<% }) %>
  </section>
<% } %>